{% extends is_xhr|yesno("fragment.html", "layout.html") %}
{% block body %}

<div class="single">
    <div class="metadata-details">
        <div class="cover">
            <!-- Always use full-sized image for the detail page -->
            <img id="detailcover" title="{{ entry.title }}"
                src="{{ url_for('web.get_cover', book_id=entry.id, resolution='og', c=entry|last_modified) }}" />
        </div>
        <div style="flex-grow: 1;">

            <h2 id="title">{{ entry.title }}</h2>
            <p class="author">
                {% for author in entry.ordered_authors %}
                <a href="{{ url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id ) }}">{{
                    author.name.replace('|',',') }}</a>
                {% if not loop.last %}
                &amp;
                {% endif %}
                {% endfor %}
            </p>
            {% if entry.ratings.__len__() > 0 %}
            <div class="rating">
                <p>
                    {% for number in range((entry.ratings[0].rating/2)|int(2)) %}
                    <span class="glyphicon glyphicon-star good"></span>
                    {% if loop.last and loop.index < 5 %} {% for numer in range(5 - loop.index) %} <span
                        class="glyphicon glyphicon-star-empty"></span>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                </p>
            </div>
            {% endif %}

            {% if entry.languages|length > 0 %}
            <div class="languages">
                <p>
                    <span class="label label-default">{{_('Language')}}: {% for language in entry.languages
                        %}{{language.language_name}}{% if not loop.last %}, {% endif %}{% endfor %}</span>
                </p>
            </div>
            {% endif %}

            {% if entry.comments|length > 0 and entry.comments[0].text|length > 0 %}
            <div class="comments">
                <h3 id="decription">{{ _('Description:') }}</h3>
                {{ entry.comments[0].text|safe }}
            </div>
            {% endif %}


        </div>
    </div>
    <div class="btn-bar">
        <a target="_blank" href="{{ url_for('edit-book.show_edit_book', book_id=entry.id)}}" class="btn btn-primary"
            title="{{ _('Listen this audiobook') }}">
            <span class="glyphicon glyphicon-edit"></span>
            {{ _('Edit') }}
        </a>
        {% if entry.reader_list and current_user.role_viewer() %}
        <a target="_blank" href="{{ url_for('web.read_book', book_id=entry.id, book_format=entry.reader_list[0])}}"
            class="btn btn-primary" title="{{ _('Listen this audiobook') }}">
            <span class="glyphicon glyphicon-book"></span>
            {{ _('Read ') }}
        </a>
        {% endif %}
        {% if entry.audio_entries|length > 0 and current_user.role_viewer() %}
        <a target="_blank" href="{{ url_for('web.read_book', book_id=entry.id, book_format=entry.audio_entries[0])}}"
            class="btn btn-primary" title="{{ _('Listen this audiobook') }}">
            <span class="glyphicon glyphicon-music"></span>
            {{ _('Listen') }}
        </a>
        {% endif %}
        {% for format in entry.data %}
        <a target="_blank"
            href="{{ url_for('web.download_link', book_id=entry.id, book_format=format.format|lower, anyname=entry.id|string+'.'+format.format|lower|replace('kepub', 'kepub.epub'))}}"
            class="btn btn-primary" title="{{ _('Listen this audiobook') }}">
            <span class="glyphicon glyphicon-download"></span>
            {{ _('Download') }}
        </a>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/template" id="template-shelf-add">
    <li>
        <a data-href="<%= add %>" data-remove-href="<%= remove %>" data-shelf-action="add">
            <%= content %>
        </a>
    </li>
</script>
<script type="text/template" id="template-shelf-remove">
    <a data-href="<%= remove %>" data-add-href="<%= add %>" class="btn btn-default"
       data-shelf-action="remove">
        <span class="glyphicon glyphicon-remove"></span> <%= content %>
    </a>
</script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script src="{{ url_for('static', filename='js/fullscreen.js') }}"></script>
<script src="{{ url_for('static', filename='js/payment.js') }}"></script>
<script type="text/javascript">
</script>

{% endblock %}
