{% import 'image.html' as image %}
{% extends "layout.html" %}
{% block body %}
<div class="discover load-more">
  {% if entries is defined and entries[0] %}
  {% for entry in entries %}
  <h2 class="{{title}}">{{entry.shelf}}</h2>
  <div class="row display-flex">
    {% if entry.books is defined and entry.books[0] %}
    {% for book in entry.books %}
    <div class="col-sm-3 col-lg-2 col-xs-6 book session" id="books">
      <div class="cover">
        <a href="{{ url_for('web.show_book', book_id=book.id) }}" {% if simple==false %}data-toggle="modal"
          data-target="#bookDetailsModal" data-remote="false" {% endif %}>
          <span class="img" title="{{ book.title }}">
            {{ image.book_cover(book) }}
            {% if book[2] == True %}<span class="badge read glyphicon glyphicon-ok"></span>{% endif %}
          </span>
        </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=book.id) }}" {% if simple==false %}data-toggle="modal"
          data-target="#bookDetailsModal" data-remote="false" {% endif %}>
          <p title="{{ book.title }}" class="title">{{book.title|shortentitle}}</p>
        </a>
        
        {% if book.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((book.ratings[0].rating/2)|int(2)) %}
          <span class="glyphicon glyphicon-star good"></span>
          {% if loop.last and loop.index < 5 %} {% for numer in range(5 - loop.index) %} <span
            class="glyphicon glyphicon-star-empty"></span>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    {% endfor %}
    {% endif %}
  </div>

  {% endfor %}
  {% endif %}
</div>
{% endblock %}