<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ entry.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    {% if g.google_site_verification|length > 0 %}
    <meta name="google-site-verification" content="{{g.google_site_verification}}">
    {% endif %}

    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/soundmanager2.js') }}"></script>

    <link rel="apple-touch-icon" sizes="140x140" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/audioplayer-black.css') }}">
    <script src="{{ url_for('static', filename='js/libs/audioplayer.js') }}"> </script>
    <script>
        "use strict";
    </script>

</head>

<body>
    <div class="contents">
        <img src="{{url_for('web.get_cover', book_id=entry.id, resolution='og', c=entry|last_modified)}}" loading="lazy"
            width="208" height="208" />

        <div class="book-metadata">
            <h1 class="book-title">{{entry.title}}</h1>
            <input type="hidden" value="{{ url_for('web.serve_book', book_id=mp3file,book_format=audioformat)}}"
                id="filename" />
            <p class="book-author">by {% for author in entry.ordered_authors %}
                <a
                    href="{{url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id ) }}">{{author.name.replace('|',',')}}</a>
                {% if not loop.last %}
                &amp;
                {% endif %}
                {% endfor %}
            </p>
            <div class="book-metainfo">
                <span class="category">PUBLISH YEAR</span>
                <span class="category-info">{{entry.pubdate|formatdate}}</span>
            </div>
            <div class="book-metainfo">
                <span class="category">GENRES</span>
                <span class="category-info">
                    Literature & Fiction, Politics & Social Sciences, Stoicism</span>
            </div>
            <div class="book-metainfo">
                <span class="category">TAGS</span>
                <span class="category-info">
                    {% for tag in entry.tags %}
                    <a href="{{ url_for('web.books_list', data='category', sort_param='stored', book_id=tag.id) }}"
                        class="btn btn-xs btn-info" role="button">{{tag.name}}</a>
                    {%endfor%}
                </span>
            </div>
            <div class="book-metainfo">
                <span class="category">LANGUAGE</span>
                <span class="category-info">{% for language in entry.languages
                    %}{{language.language_name}}{% if not loop.last %}, {% endif %}{% endfor %}</span>
            </div>
            <div class="book-metainfo">
                <span class="category">DURATION</span>
                <span class="category-info">6 hr 59min</span>
            </div>
            <div class="book-metainfo">
                <span class="category">SIZE</span>
                <span class="category-info">201.18MB</span>
            </div>

            <div class="chapter-list">
                <div class="chapter-head">
                    <div>Chapter<span>25</span></div>
                    <a id="collapse">
                        <img src="{{ url_for('static', filename='arrow-down.svg') }}" width="24" height="24" />
                    </a>
                </div>

                <table class="chapter-table hidden">
                    <tr>
                        <th class="text-left">#</th>
                        <th class="text-left" dir="auto">Title</th>
                        <th>Start</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                    <tr>
                        <td class="text-left">1</td>
                        <td class="text-left" dir="auto">The Old Hound</td>
                        <td class="text-center">0:00</td>
                        <td class="text-center">1:34</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="sm2-player">
        <div class="sm2-book-info">
            <img src="{{url_for('web.get_cover', book_id=entry.id, resolution='og', c=entry|last_modified)}}"
                loading="lazy" width="77" height="77" />
            <div class="sm2-bookmeta-infos">
                <div class="title">Meditations</div>
                <div class="author">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white">
                        <path
                            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                    </svg>
                    {% for author in entry.ordered_authors %}
                    <a
                        href="{{url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id ) }}">{{author.name.replace('|',',')}}</a>
                    {% if not loop.last %}
                    &amp;
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="duration">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-6h6v2h-4v4z" />
                    </svg>
                    <a class="duration-value">6:59:06</a>
                </div>
            </div>
            <div class="sm2-close"><img src="{{ url_for('static', filename='PNG/close.png') }}" style="width: 100%;"
                    width="24" height="24" /></div>
        </div>
        <div class="sm2-control-bar">
            <div class="sm2-control control-speed"><span>1.0x</span></div>
            <div class="sm2-control control-sound"><img src="{{ url_for('static', filename='PNG/medium-volume.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-sleep"><img src="{{ url_for('static', filename='PNG/alarm.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-bookmark"><img src="{{ url_for('static', filename='PNG/tag.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-list"><img src="{{ url_for('static', filename='PNG/list.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-queue"><img src="{{ url_for('static', filename='PNG/playlist.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-setting"><img src="{{ url_for('static', filename='PNG/video-player.png') }}"
                    style="width: 100%;" /></div>
        </div>
        <div class="sm2-play-control-bar">
            <div class="sm2-control control-prev"><img src="{{ url_for('static', filename='PNG/first.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-backward"><img src="{{ url_for('static', filename='PNG/backward.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-play">
                <img class="play" src="{{ url_for('static', filename='PNG/play.png') }}" style="width: 80%;" />
                <img class="stop" src="{{ url_for('static', filename='PNG/pause.png') }}" style="width: 80%;" hidden />
                <img class="load" src="{{ url_for('static', filename='loading.png') }}" style="width: 80%;" hidden />
            </div>
            <div class="sm2-control control-forward"><img src="{{ url_for('static', filename='PNG/forward.png') }}"
                    style="width: 100%;" /></div>
            <div class="sm2-control control-next"><img src="{{ url_for('static', filename='PNG/last.png') }}"
                    style="width: 100%;" /></div>
        </div>
        <div class="sm2-progress-bar">
            <div class="progress-bar">
                <div class="progress-current"></div>
            </div>
            <div class="progress-chapter">
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
                <div class="chapter"></div>
            </div>
            <div class="progress-label">
                <div><span class="current-duration">12:32</span> / <span class="current-percent">85%</span></div>
                <div class="chapter-title">The Dog in The Manger</div>
                <div class="rest-time">-1:34</div>
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/libs/underscore-umd-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/jquery.form.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>

</html>
