body.serieslist.grid-view div.container-fluid>div>div.col-sm-10::before {
  display: none;
}

.cover .badge {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #cc7b19;
  border-radius: 0;
  padding: 0 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  line-height: 24px;
}

.cover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.cover .read {
  padding: 0 0;
  line-height: 15px;
}

input.datepicker {
  color: transparent
}

input.datepicker:focus {
  color: transparent
}

input.datepicker:focus+input {
  color: #555
}

.metadata-details {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.cover {
  width: 200px;
}

.btn-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 200px;
}

@media (max-width: 768px) {
  .btn-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0px;
  }

  .cover {
    box-shadow: none;
  }

  .metadata-details {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .btn-bar {
    display: grid;
    grid-template-columns: 1fr;
  }
}
