.purchase{
  background-image: url(images/purchase.svg);
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: 32px;
  background-position: 50% 53%;
}
.subscription{
  background-image: url(images/subscription.svg);
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: 32px;
  background-position: 50% 53%;
}